body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.container {
    margin: 0px 170px;
    flex: 0 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 100px;
}

.title-header {
    color: white;
    font-size: 24px;
    font-weight: 900;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.content-text-top {
    flex: 0 1 auto;
    width: 418px;
}

.h1 {
    width: 342px;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
    
}

.p-top {
    color: #E5E7EB;
    font-size: 18px;
    font-family: sans-serif;
    margin: 10px 0;
}

.signup {
    border-radius: 8px;
    width: 80px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    padding: 10px 25px;
    background-color: #3882F6;
}

.content-img-top {

    flex: 0 1 auto;
    width: 511px;
    height: 229px;
}

.container-mid {
    background: white;
    padding: 136px 170px;
}

.cm-header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1f2937; 
}

.square-container {
    display: flex;
    justify-content: center;
    gap: 33px;
}

.container-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}

.square-p {
    font-family: sans-serif;
    color: #818385;
}

.square {
    width: 165px;
    height: 165px;
    flex: 0 0 auto;
    border-radius: 10px;
    outline: 4px solid #44a3ff;
}   